.body {
    background: url('fon.gif');
}

.positionMenu{
    margin: 0 auto; 
    padding-top:100px;
    padding-left:90px;
    /*padding-right:100px;*/
}

.grid th{
  text-align:center;
}

.test {
display: block;
width: 10px;
}

.img_emblema1{
    height: 122px; 
    width: 169px;
    position:absolute; 
    left:180px;
    top:10px;
}

.img_emblema2{
    height: 122px; 
    width: 169px;
    position:absolute; 
    right:200px;
    top:10px;
}

h2{
    position:absolute;
    font-size:96px;
    font-family:cursive;
    left:500px;
    top:0px;
    color:#1e4d97;
}

p{
    font-family:'Times New Roman';
    font-size:20px;
}

ul.menu {
    display: inline-block;
    margin: 0;
    padding: 0;
    border-radius: 5px 5px;
    width: 1170px;
    height: 70px;
    text-align: center;
    font-size: 16px;
}
ul.menu li {
    float: left;
    list-style: none;
    width: 130px;
    height: 70px;
}
ul.menu li a {
    display: block;
    padding: 16px 10px 20px;
    text-decoration: none;
    border-radius: 5px 5px;
}

ul.menu li a:hover {
    background: #808080;
    color: #faf725; 
    text-decoration:none; 
}

.search{
    position:relative; 
    padding-top:10px; 
    padding-left: 350px;
    font-size:18px;
}

.detailsView{
    position:relative;
    padding-left:450px; 
    padding-top:20px
}