.body {
    background: url('fon.gif');
}

.main{
    /*/*position:relative;*/*/
    /*/*padding-top:100px;*/*/
}
 
.positionMenu {
    margin: 0 auto;
    padding-top: 100px;
    padding-left: 90px;
    /*padding-right:100px;*/
}

.positionMenuLogin{
    position:absolute;
}

.grid th {
    text-align: center;
}

.test {
    display: block;
    width: 10px;
}

.img_emblema1 {
    height: 122px;
    width: 169px;
    position: absolute;
    left: 180px;
    top: 10px;
}

.img_emblema2 {
    height: 122px;
    width: 169px;
    position: absolute;
    right: 200px;
    top: 10px;
}

h2 {
    position: absolute;
    font-size: 96px;
    font-family: cursive;
    left: 500px;
    top: 0px;
    color: #1e4d97;
}

p {
    font-family: 'Times New Roman';
    font-size: 20px;
}

.labelName{
    position: relative;
    padding-top: 10px;
    padding-left: 500px;
    font-size: 36px;
}

.dropDownList{
    position: relative;
    padding-left: 400px;
    padding-bottom:10px;
}

.search {
    position: relative;
    padding-top: 10px;
    padding-left: 350px;
    font-size: 18px;
}

.detailsView {
    position: relative;
    padding-left: 450px;
    padding-top: 20px;
}


#feedbackP{

background-color: white;
width : 270px;
height : 80px;
position : fixed; /* фиксируем позицию в окне */
z-index : 50;
/* сдвигаем панель вправо вниз: */
top : 80px; 
left : 100%;
/* выдвигаем краешек: */ 
margin-top : -25px;
margin-left : -25px;

border : 2px solid;
border-radius: 10px;
padding: 5px 30px 15px 30px;

/*задаем эффект движения: */
-moz-transition:margin 0.3s linear; 
-o-transition:margin 0.3s linear; 
-webkit-transition:margin 0.3s linear; 
-ms-transition:margin 0.3s linear; 
transition:margin 0.3s linear; 
}
#feedbackP:hover{ 
/* выдвигаем панель на всеобщее обозрение: */ 

background-color: white;
margin-left : -270px;
/*задаем эффект движения: */ 
-moz-transition:margin 0.3s linear; 
-o-transition:margin 0.3s linear; 
-webkit-transition:margin 0.3s linear; 
-ms-transition:margin 0.3s linear; 
transition:margin 0.3s linear; 
}

/*Делаем заголовок панели, как уголок папки с бумагами: */
#feedbackButton{
font-weight : bold;
margin-left : 10px;
margin-top : -6px;
border : 1px solid #717277;
border-radius : 0px 0px 10px 10px;
text-align : center;
width : 140px;
margin-bottom : 5px;
color : #FFFFFF;
background : #717277;
}



    #menu {
        z-index:500;
    }
    #menu ul, li {
		margin:0;
		padding:0;
		list-style-type:none;	
	}
	
	#menu {
		font-family:Verdana, Geneva, sans-serif;
		font-size:14px;
		display:block;
		position:relative;
			
	}
	#menu > li {
		display:inline-block;
		position:relative;

	}
	
	#menu > li > a {
		display:inline-block;
		height:40px;
		padding:10px;
		background-color:#f5f5f5;
		border-top:1px solid #FFF;
		border-left:1px solid #FFF;
		border-bottom:1px solid #ddd;
		border-right:1px solid #ddd;
		border-radius:5px;						
	}
	#menu > li:hover > a {
		color:#009999;	
	}
	#menu > li > ul {
		position:absolute;
		top:42px;
		left:0px;
		display:none;	
	}
	#menu > li:hover > ul {
		display:block;	
		box-shadow:1px 1px 5px #ddd;
	}
	
	#menu > li:hover > ul > li {
		display:inline-block;
	}
	#menu > li:hover > ul > li > a {
		display:inline-block;
		width:120px;
		padding:10px;
		background-color:#f2f2f2;
	
	border-top:1px solid #FFF;
	border-left:1px solid #FFF;
	border-bottom:1px solid #ddd;
	border-right:1px solid #ddd;
	border-radius:5px;	
		
	}
